form{
    margin-top: 30px;
}
form label input:hover{
    background-color: aquamarine;
    border: double 6px red;
}
form label input{
    height:40px;
    width:300px;
    background-color: bisque;
}